<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Camera App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <center>
      <div id="camera">
        <img src="{{ url_for('video_feed') }}" alt="video feed">
      </div>
      <div class="slidecontainer" id="slide_container_f">
        <p>CONTRAST:<span id="demo"></span></p>
        <input type="range" min={{min}} max={{max}} value={{value}} class="slider"
            id="myRange" name="contrast">
        <input type="submit" value="Submit">
      </div>
    </center>
  </body>
</html>


<script>
    $(function(){
        var form = $('form');
        $('#myRange').on('change mouseup', function(){
            $.ajax({
                type: "POST",
                url: form.action,
                data: form.serialize(),
            }).done(function(res){
                //
            });
        });
    });
</script>


